:root {
  --primary-text-color: #fff;
  --tittle-text-color: #000;
  --description-text-color: #757575;
  --background-button-color: #f5f4fa;
  --accent-color-text: #2196f3;
  --main-color-text: #212121;
}
body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: var(--main-color-text);
  margin: 0px;
}
ul{
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  padding: 0px;
}
img{
  display: block ;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
.nav{
  padding-top: 24px;
  padding-bottom: 25px;
  display:flex ;
  align-items: center;
  justify-content: center;
}
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo2 {
  color: var(--main-color-text);
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-list{
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  display: flex;
}
.header-list .header-li:not(:last-child){
  margin-right: 50px;
}
.contacts-list{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.info{
  display: flex;
  padding-left: 0px;
}

.info-list:not(:last-child){
  margin-right: 30px;
}
.work-fotos{
  display: flex;
}
.work-fotos-list:not(:last-child){
  margin-right: 30px;
}
.work-thumb::before{
  display: flex;
  content: "";
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.thumb-one::before{
  content: "Десктопные приложения";
}
.thumb-two::before{
  content: "Мобильные приложения";
}
.thumb-three::before{
  content: "Дизайнерские решения";
}
.work-thumb{
  position: relative;
}
.team-fotos{
  display: flex;
}
.team-fotos-list:not(:last-child){
  margin-right: 30px;
}
.team-fotos-list{
  background-color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item{
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-social-icon{
  background: rgba(255, 255, 255, 0.1);
}
.social-item:not(:last-child){
    margin-right: 10px;
}
.social-icon{
  width: 20px;
  height: 20px;
  fill:#AFB1B8;
}
.footer-icon{
  fill: #fff;
}
.social-item:hover{
  background-color: var(--accent-color-text);
}
.header{
  border-bottom: 1px; 
}
.header-link {
  color: var(--main-color-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color-text);
}
.current {
  color: var(--accent-color-text);
  
}
.current::after{
  text-decoration: underline;
  content: "";
  background-color: #2196f3;
  width: 100%;
  height: 3px;
  transform: translateY(30px);
  display: flex;
}
.contacts-link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center
  ;
}
.item:hover{
  fill: var(--accent-color-text);
}
.mail{
  margin-right: 10px;
}.phone{
  margin-right: 10px;
}
.contacts-list .item +.item{
  margin-left: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color-text);
}
.section-slogan{
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image:linear-gradient( to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
  url(../images/backgroundimg.jpg);
  background-size: cover;
}
.button-tittle {
  visibility: hidden;
  display: none;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 6px 22px 6px 22px;
}
.button-list{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

}
.button:hover,
.button:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-fotos{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
  width: 1200px;
}
.images-portfolio{
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
  overflow: hidden;
}
.images-portfolio:focus,
.images-portfolio:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-thumb-one{
  overflow: hidden;
}
.portfolio-thumb::after{
  position: absolute;
  display: flex;
  content: "";
  top: 0;
  width: 370px;
  height: 294px;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transform: rotateZ(20%);
  transition: transform 250ms cubic-bezier(0.4,0,0.2,1);
  opacity: 0;
}
.portfolio-thumb:hover::after{
  opacity: 1;
  transform: translateY(0);
}
.portfolio-thumb-one::after{
  
  content: "Ресурс предлагает комплексные предложения с разным уровнем функционала и сервисов. Все это позволит посетителю получить исчерпывающие сведения о компании или частном лице.";
}
.portfolio-thumb-two::after{
  content: "Новостной портал";
}
.portfolio-thumb-three::after{
  content: "Приложение для ресторана";
}
.portfolio-thumb-four::after{
  content: "Бренды";
}
.portfolio-thumb-five::after{
  content: "Приложения";
}
.portfolio-thumb-six::after{
  content: "Веб-сйты";
}
.portfolio-thumb-seven::after{
  content: "Новости";
}
.portfolio-thumb-eight::after{
  content: "Проекты";
}
.portfolio-thumb-nine::after{
  content: "Бизнес";
}
.img-tittle {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.img-descr {
  color: var(--description-text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 0px;
}
.footer-logo {
  color: var(--primary-text-color);
}
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  display: flex;
}
.footer-googlelink {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer-googlelink:hover,
.footer-googlelink:focus {
  color: var(--accent-color-text);
}

.footer-info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer-item:not(:last-child){
  margin-bottom: 9px;
}
.footer-info:hover,
.footer-info:focus {
  color: var(--accent-color-text);
}

.button-studio {
  color: var(--primary-text-color);
  background-color: var(--accent-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px, 32px, 10px, 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
  min-width: 200px;
  min-height: 50px;
}
.main-title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}
.subtitles-studio {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;

}
.description-studio {
  color: var(--description-text-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-title {
  visibility: hidden;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.img-title {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}
.client-list-block{
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-list-block:hover{
  border-color: var(--accent-color-text);
}
.client-list-item:not(:last-child){
  margin-right: 30px;
}
.client-list{
  display: flex;
}
.client-icon{
  width: 106px;
  height: 60px;
  fill:#AFB1B8;
}
.client-icon:hover{
  fill: var(--accent-color-text);
}
.client{
  padding-bottom: 0px;
}
.icon-info-block{
  background-color:var(--background-button-color) ;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-names {
  color: var(--main-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
}

.teams-container{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.img-activity {
  color: var(--description-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.container{
  margin:0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container{
  display: flex;
}
.head-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.foto-studio{
  background-color: #F5F4FA;
}
.container-content{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  
}
.address{
  margin-top: 20px;
  font-style: normal;
}
.footer-des{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 0px;
}
.work{
  padding-top: 0px;
}
.welcom{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content:center ;
  align-items: center;
  margin-bottom: 20px;
}
.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(15, 12, 12, 0.5);
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
}
.modal{
  height: 500px;
  width: 600px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  position: relative;

}
.close-menu{
  position: absolute;
  padding: 0px;
  margin: 0px;
  min-height: 20px;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  color: var(--accent-color-text);
  background-color: var(--description-text-color);
  border: none;
  top:0px;
  right: 0px;
}